<p>
    <h2><%= @user.name + " " + @user.surname %></h2>
    <ul>
        <li> Age: <%= @user.age%></li>
        <li> Major: <%= @user.major %></li>
        <li> Gender: <%= @user.gender %></li>
    </ul>
</p>
