body {
    background: url('../img/restaurant_icons.png');
}
.titel {
    color: #FFF;
    background: url('../img/footer_lodyas.png');
    margin: 0 !important;
    padding-top: 40px;
    border: none !important;
}

.page-content {
    background-color: #f9f9f9;
    padding-bottom: 250px;
    position: relative;
}



.footer {
    position: absolute;
    bottom: 60px;
}

.bs-callout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 2px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.btn {
    border-radius: 1px !important;
}

.zheight-1 {

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.zheight-2 {

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.zheight-3 {

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.zheight-4 {

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.zheight-5 {

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.actionButton {
    transform: translate3d(0, 50%, 0);
    opacity: 0;
    transition: opacity 0.3s, -webkit-opacity 0.3s, -moz-opacity 0.3s, transform 0.2s;
}
.editButton {
    transition-delay: 0s;
}

.deleteButton {
    transition-delay: 0.1s;
}

.forwardButton {
    transition-delay: 0.2s;
}

.bs-callout:hover .editButton {
    transform: translate3d(0, 0, 0);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;

}

.bs-callout:hover .deleteButton {
    transform: translate3d(0, 0, 0);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;

}

.bs-callout:hover .forwardButton {
    transform: translate3d(0, 0, 0);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;

}

.buttons a:hover {
    text-decoration: none;
}

.modal-dialog {
    z-index: 10000;
}
/*
    Boxshadow for material design

    Level       shadow
    1           
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    2           
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    3           
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    4           
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    5           
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
*/