<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/semantic.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="ui page grid">
    <div class="sixteen wide column">
    <h1>People</h1>
    {% if not current_user.is_authenticated() %}
    <p>Get a profile.</p>
    {% endif %}
      <div class="ui secondary pointing menu">
        <a class="{% if activePage == 'index'  %} active {% endif %} item" href="{{ url_for('index') }}">
          <i class="home icon"></i> Home
        </a>
        {% if not current_user.is_authenticated() %}
        <a class="{% if activePage == 'register' %} active {% endif %} item" href="{{ url_for('register') }}">
          <i class="user icon"></i> Register
        </a>
        {% else %}
        <a class="{% if activePage == 'userpage' %} active {% endif %} item" href="{{ url_for('profile', username=current_user.id) }}">
          <i class="user icon"></i> {{current_user.firstName}}'s Profile
        </a>
        {% endif %}
        {% if activePage == 'makers' %}        
        <a class="active item" href="{{ url_for('makers') }}">
          <i class="user icon"></i> Makers
        </a>
        {% endif %}
        <div class="right menu">
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          {% if not current_user.is_authenticated() %}
          <a class="{% if activePage == 'login' %} active {% endif %} item" href="{{ url_for('login') }}">
           <i class="user icon"></i> Login 
          </a>
          {% else %}
            <a class="detail"><i class="mail icon"></i> {{g.notifications.count()}}</a>
          <div class="ui dropdown item">
            {{ current_user.firstName }} {{ current_user.lastName }}
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="{{ url_for('profile', username=current_user.id) }}">My Profile</a>
              <a class="item" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
          
          {% endif %}
        </div>
      </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="ui {{category}} message">
                <i class="close icon"></i>
                <div class="header">
                    {{message}}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
    </div>
    </div>
    <div class="footer">
      {% block footer %}
      {% endblock %}
    </div>

    {% block modals %}
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/semantic.js')}}"></script>
    <script src="{{url_for('static', filename='js/style.js')}}"></script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>
