{% extends "layout.html" %}
{% set activePage = "makers" %}
{% block title %}Welcome{% endblock %}
{% block body %}
<div class="ui cards">
<div class="card">
  <div class="image">
    <img src="{{ url_for('static', filename='images/rafael.jpg') }}">
  </div>
  <div class="content">
    <a class="header">Rafael Epplee</a>
    <div class="meta">
      <span class="date">Joined in 2014</span>
    </div>
    <div class="description">
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      His Profile
    </a>
  </div>
</div>
<div class="card">
  <div class="image">
    <img src="{{ url_for('static', filename='images/people_p.png') }}">
  </div>
  <div class="content">
    <a class="header">Arne Beer</a>
    <div class="meta">
      <span class="date">Joined in 2014</span>
    </div>
    <div class="description">
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      His Profile
    </a>
  </div>
</div>
<div class="card">
  <div class="image">
    <img src="{{ url_for('static', filename='images/julian.png') }}">
  </div>
  <div class="content">
    <a class="header">Julian Deinert</a>
    <div class="meta">
      <span class="date">Joined in 2014</span>
    </div>
    <div class="description">
    </div>
  </div>
  <div class="extra content">
    <a href="13deinert">
      <i class="user icon"></i>
      His Profile
    </a>
  </div>
</div>
</div>
{% endblock %}
