{% extends "layout.html" %}
{% set activePage = "profile" %}
{% block title %}{{user_data.firstName}} {{user_data.lastName}}{% endblock %}
{% block body %}

{% macro display_dict(data) %}
    <div class="column">
        {% for key, val in data.items() %}
            {% if val %}
                {{key}}:<br/>
            {% endif %}
        {% endfor %}
    </div>
    <div class="column">
        {% for key, val in data.items() %}
            {% if val %}
                {{val}}<br/>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

<div class="ui grid">
    <div class="two column row">
        <div class="column">
            <div class="ui card">
                <div class="image">
                {% if user_data.image %}
                    <img class="ui medium bordered image" src="{{url_for('static', filename = 'images/' + user_data.image)}}">
                {% else %}
                    <img class="ui medium bordered image" src="{{url_for('static', filename = 'images/people_p.png')}}">
                {% endif %}
                </div>
                <div class="content">
                    <a class="header">{{user_data.firstName}} {{user_data.lastName}}</a>
                    <div class="meta">
                        <span class="date"></span>
                    </div>
                    <div class="description">
                        <strong>About {{user_data.firstName}}:</strong>
                        {{user_data.about}}
                    </div>
                </div>
                <div class="extra content">
                    <a href="{{ url_for('index') }}">
                        <i class="user icon"></i>
                        friends 
                    </a>
                </div>
            </div>
        {% if user.id == current_user.id %}
            <a href="{{url_for('editProfile', username=current_user.id)}}">Edit profile</a>
        {% elif add_friend_form %}
            {% if is_sent %}
                {% if is_sent_to_user %}
                    <p>This user has already sent you a friend request. <br> <a href="{{ url_for('inbox')}}">Check your notifications.</a></p>
                {% else %}
                    <p>Friend request sent <i class="checkmark icon"></i></p>
                {% endif %}
            {% else %}
                <form method="POST" action="/addFriend">
                    {{ add_friend_form.csrf_token }}
                        {{ add_friend_form.fromUser(value=current_user.id) }}
                        {{ add_friend_form.toUser(value=user.id) }}
                    <input class="ui submit button" type="submit" value="Add as Friend">    
                </form>
            {% endif %}
        {% endif %}
        </div>
        <div class="column">
            <h2>Account Information</h2>
            <div class="ui grid">
                <div class="two column row">
                    {{ display_dict({
                        'Name': user_data.full_name,
                        'Signed up at': user_data.created_at,
                        'Last Update:': user_data.updated_at
                    }) }}
                </div>
            </div>
            <h2>Basic Information</h2>
            <div class="ui grid">
                <div class="two column row">
                    {{ display_dict({
                        'Gender': user_data.gender,
                        'Birthday': user_data.birthday
                    }) }}
                </div>
            </div>
            <h2>Education</h2>
            <div class="ui grid">
                <div class="two column row">
                    {{ display_dict({
                        'Major': user_data.major,
                        'Semester': user_data.semester
                    }) }}
                </div>
            </div>
            <h2>Contact Information</h2>
            <div class="ui grid">
                <div class="two column row">
                    {{ display_dict({
                        'Email': user_data.email,
                        'Phone': user_data.phone,
                        'Mobile': user_data.mobile,
                        'Jabber': user_data.jabber,
                        'Address': user_data.address
                    }) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}