{% extends "layout.html" %}
{% set activePage = "profile" %}
{% block title %}Profile of {{user.firstName}} {{user.lastName}}{% endblock %}
{% block body %}

<div class="ui grid">
    <div class="two column row">
        <div class="column">
            <div class="ui card">
                <div class="image">
                {% if user.image %}
                    <img class="ui medium bordered image" src="{{url_for('static', filename = 'images/' + user.image)}}">
                {% else %}
                    <img class="ui medium bordered image" src="{{url_for('static', filename = 'images/people_p.png')}}">
                {% endif %}
                </div>
                <div class="content">
                    <a class="header">{{user.firstName}} {{user.lastName}}</a>
                    <div class="meta">
                        <span class="date"></span>
                    </div>
                    <div class="description">
                        <strong>About {{user.firstName}}:</strong>
                        {{user.about}}
                    </div>
                </div>
                <div class="extra content">
                    <a href="{{ url_for('index') }}">
                        <i class="user icon"></i>
                        friends 
                    </a>
                </div>
            </div>
        {% if user.id == current_user.id %}
            <a href="{{url_for('editProfile', username=current_user.id)}}">Edit profile</a>
        {% else %}
            {% if is_friend %}
            
            {% else %}
                {% if is_sent %}
                    {% if is_sent_to_user %}
                        <p>This user has already sent you a friend request. <br> <a href="{{ url_for('inbox')}}">Check your notifications.</a></p>
                    {% else %}
                        <p>Friend request sent <i class="checkmark icon"></i></p>
                    {% endif %}
                {% else %}
                <form method="POST" action="/addFriend">
                    {{ form.csrf_token }}
                        {{ form.fromUser(value=current_user.id) }}
                        {{ form.toUser(value=user.id) }}
                    <input class="ui submit button" type="submit" value="Add as Friend">    
                </form>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
        <div class="column">
            <h2>Account Information</h2>
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        Name: <br>
                        Signed up at: <br>
                        Last Update: <br>
                    </div>
                    <div class="column">
                        {{user.firstName}} {{user.lastName}} <br>
                        {{user.created_at}} <br>
                        {{user.updated_at}} <br>
                    </div>
                </div>
            </div>
            <h2>Basic Information</h2>
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        Gender: <br>
                        Birthday: <br>
                    </div>
                    <div class="column">
                        {{user.gender}}<br>
                        {{user.birthday}} <br>
                    </div>
                </div>
            </div>
            <h2>Education</h2>
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        Major: <br>
                        Semester: <br>
                    </div>
                    <div class="column">
                        {{user.major}}<br>
                        {{user.semester}} <br>
                    </div>
                </div>
            </div>
            <h2>Contact Information</h2>
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        Email: <br>
                        Phone: <br>
                        Mobile: <br>
                        Jabber: <br>
                        Address: <br>
                    </div>
                    <div class="column">
                        {{user.email}} <br>
                        {{user.phone}} <br>
                        {{user.mobile}} <br>
                        {{user.jabber}} <br>
                        {{user.street}} <br>
                        {{user.zipcode}} {{user.city}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}