{% extends "layout.html" %}
{% set activePage = "register" %}
{% block title %}Welcome{% endblock %}
{% block body %}
    <form method="POST" action="#" class="ui form">
        {{ form.csrf_token }}
        <div class="two fields">
            <div class="required field">
                {{ form.firstName.label }} {{ form.firstName(size=20) }}
            </div>
            <div class="required field">
                {{ form.lastName.label }} {{ form.lastName(size=20) }}
            </div>
        </div>
        <div class="two fields">
            <div class="required field">
                {{ form.username.label }} {{ form.username }}
            </div>
            <div class="required field">
                {{ form.password.label }} {{ form.password() }}
            </div>
        </div>
        <input class="ui primary submit button right floated" type="submit" value="Register">    
    </form>
{% endblock %}
